<div class="flexcol">
	<label>{{system.description}}</label>
	{{formGroup systemFields.stage value=systemSource.stage localize=true disabled=isPlay}}
	{{formGroup systemFields.burden value=systemSource.burden localize=true disabled=isPlay}}
	{{formGroup
		systemFields.descriptor
		value=systemSource.descriptor
		choices=descriptorChoices
		localize=true
		disabled=isPlay
	}}
	{{formGroup systemFields.type value=systemSource.type localize=true disabled=isPlay}}
	{{formGroup systemFields.user value=systemSource.user localize=true disabled=isPlay}}
	{{formGroup systemFields.portability value=systemSource.portability localize=true disabled=isPlay}}
	{{formGroup systemFields.techLevel value=systemSource.techLevel disabled=isPlay}}
</div>
